body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 防止滾動條出現 */
  background-color: #000;
  font-family: Arial, sans-serif;
  /* box-sizing: border-box; */
}

.game-viewport {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- 通用樣式 --- */
.page-container {
  width: 1920px;
  height: 1080px;
  position: relative;
  background-size: cover;
  background-position: center;
  transform-origin: top left;
  color: #000000;
}

.image-button{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* --- 起始頁面 --- */
.start-page-title {
  position: absolute;
  top: 17%;
  left: 50%;
  font-size: 180px;
  transform: translate(-50%, -50%);
  font-weight:900;
}

.start-button-center {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-button-text{
  position: absolute; 
  top:45%;
  left:50%;
  font-size: 50px;
  font-weight:800;
  transform: translate(-50%,-50%);
  color:#000;
}

/* --- 說明頁面 --- */
.sticker-text{
  position: absolute;
  top: 29%;
  left: 50%;
  font-size: 60px;
  font-weight:800;
  transform: translate(-50%,-50%);
}

.instructions-text{
  max-width: 850px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  font-size: 38px;
  font-weight: 500;
  transform: translate(-50%,-50%);
  line-height: 1.2;
  text-align: center;
}

.continue-button{
  position: absolute;
  bottom: 22%;
  right: 19%;
}

.loop-animation {
  animation: buttonLoop 2s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes buttonLoop {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(50px);
  }
}

/* --- 遊戲頁面 --- */
.space-for-items{
  position: absolute;
  top: 40%;
  left: 62%;
  text-align: center;
}
.dice{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 180px;
  height: 180px;
  border-radius: 20px;
}
.dice::before{
  content: '●';
  color: #000;
  font-size: 80px;
  position: absolute;
  top:15%;
  left:20%;
  transform: translate(-50%, -50%);
}
.dice::after{
  content: '●';
  color: #000;
  font-size: 80px;
  position: absolute;
  top:48%;
  left:48%;
  transform: translate(-50%, -50%);
}
.dice-black{
  position: absolute;
  z-index: 99;
  top:52%;
  left:64%;
  color: #000;
  font-size: 80px;
}
.step-1{
  position: absolute;
  top:76%;
  left: 30%;
}
.player-pieces.piece-1{
  position: absolute;
  top:65px;
  left:-15px;
}
.player-pieces.piece-1::before {
  content: '▼';
  position: absolute;
  top: -30px; 
  left: 50%;
  transform: translateX(-50%);
  color: #E63B3B;
  font-size: 35px; 
  z-index: 99;
  animation: arrowBounce 1s infinite alternate;
}
@keyframes arrowBounce {
  from { transform: translateX(-50%) translateY(0); }
  to { transform: translateX(-50%) translateY(-10px); }
}
.player-pieces.piece-2{
  position: absolute;
  top:65px;
  left:45px;
}
.player-pieces.piece-3{
  position: absolute;
  top:115px;
  left:-45px;
}
.player-pieces.piece-4{
  position: absolute;
  top:115px;
  left:15px;
}
.player-pieces.piece-5{
  position: absolute;
  top:115px;
  left:70px;
}
.step-2{
  position: absolute;
  top:76%;
  left: 18%;
  font-size: 36px;
  font-weight: 700;
}
.step-3{
  position: absolute;
  top:82%;
  left: 8.5%;
  font-size: 36px;
  font-weight: 700;
}
.step-4{
  position: absolute;
  top:68%;
  left: 2.1%;
  font-size: 36px;
  font-weight: 700;
}
.step-5{
  position: absolute;
  top:51%;
  left: 5.9%;
  font-size: 36px;
  font-weight: 700;
}
.step-6{
  position: absolute;
  top:49%;
  left: 16.1%;
  font-size: 36px;
  font-weight: 700;
}
.step-7{
  position: absolute;
  top:55%;
  left: 25.8%;
  font-size: 36px;
  font-weight: 700;
}
.step-8{
  position: absolute;
  top:63%;
  left: 37%;
}
.step-9{
  position: absolute;
  top:72%;
  left: 43.6%;
  font-size: 36px;
  font-weight: 700;
}
.step-10{
  position: absolute;
  top:78%;
  left: 53.6%;
  font-size: 36px;
  font-weight: 700;
}
.step-11{
  position: absolute;
  top:80%;
  left: 65%;
}
.step-12{
  position: absolute;
  top:85%;
  left: 73.9%;
  font-size: 36px;
  font-weight: 700;
}
.step-13{
  position: absolute;
  top:76%;
  left: 83%;
  font-size: 36px;
  font-weight: 700;
}
.step-14{
  position: absolute;
  top:60%;
  left: 88.5%;
  font-size: 36px;
  font-weight: 700;
}
.step-15{
  position: absolute;
  top:42%;
  left: 89.6%;
  font-size: 36px;
  font-weight: 700;
}
.step-16{
  position: absolute;
  top:24%;
  left: 85.9%;
  font-size: 36px;
  font-weight: 700;
}
.step-17{
  position: absolute;
  top:12.6%;
  left: 77.6%;
  font-size: 36px;
  font-weight: 700;
}
.step-18{
  position: absolute;
  top:10.3%;
  left: 67%;
  font-size: 36px;
  font-weight: 700;
}
.step-19{
  position: absolute;
  top:13%;
  left: 56.9%;
  font-size: 36px;
  font-weight: 700;
}
.step-20{
  position: absolute;
  top:18%;
  left: 46.7%;
  font-size: 36px;
  font-weight: 700;
}
.step-21{
  position: absolute;
  top:22.7%;
  left: 36.4%;
  font-size: 36px;
  font-weight: 700;
}
.step-22{
  position: absolute;
  top:23.7%;
  left: 25.9%;
  font-size: 36px;
  font-weight: 700;
}
.step-23{
  position: absolute;
  top:22.2%;
  left: 15.9%;
  font-size: 36px;
  font-weight: 700;
}

/* --- 最後頁面 --- */
.won-player{
  position: absolute;
  top:-3%;
  left: 48%;
  transform: translateX(-50%);
}
.congratulation-text{
  position: absolute;
  top:10%;
  left: 35%;
  font-size: 120px;
  font-weight: 700;
  z-index: 4;
}
.button-container{
  display: flex;
  justify-content: space-between;
  width: 270px;
  position: absolute;
  top:25%;
  left: 42%;
}

